<div class="row">
  <div class="c6">
    <div class="form">
      <%= form_for '' , method: 'get' do %>

        <div class="row">
          <div class="c6">
            <label>Search For:</label>
          </div>
          <div class="c6">
            <%= text_field_tag :query, params[:query] %>
          </div>
        </div>

        <div class="row">
          <div class="c6">
            <label>Town or Postcode:</label>
          </div>

          <div class="c6">
            <%= text_field_tag :location, params[:location] %>
          </div>
        </div>

        <div class="row">
          <div class="c6">
            <label>Country:</label>
          </div>
          <div class="c6">
            <%= select_tag "country", options_for_select([ "England", "United States", "Canada", "Australia"], "England") %>
          </div>
        </div>

        <div class="row">
          <div class="c6">
            <label>Radius to search(miles):</label>
          </div>
          <div class="c6">
            <%= select_tag :radius, options_for_select([ '10','15', '20', '25', '30', '40', '50', '100'], "20") %>
          </div>
        </div>

        <div class="spacer"><!-- spacer --></div>
        <div class="row">
          <div class="c12 calign">
            <%= submit_tag "Collect", disable_with: "Please wait...", name: nil %>
          </div>

        </div>
      <% end %>
    </div>
  </div>

  <div class="c6">
    <div class="stats">
      <table>
        <thead>
          <th>
            <strong>In the Past </strong>
          </th>
          <th>
            <strong>7 Days</strong>
          </th>
          <th>
            <strong>14 Days</strong>
          </th>
          <th>
            <strong>1 Month</strong>
          </th>
        </thead>

        <tbody style="margin: 10px;">
          <tr>
            <th>
              Retail:
            </th>
            <td>
              <%= @retail_jobs_1_week.count %>
            </td>
            <td>
              <%= @retail_jobs_2_weeks.count %>
            </td>
            <td>
              <%= @retail_jobs_1_month.count %>
            </td>
          </tr>

          <tr>
            <th>
              Admin:
            </th>
            <td>
              <%= @admin_jobs_1_week.count %>
            </td>
            <td>
              <%= @admin_jobs_2_weeks.count %>
            </td>
            <td>
              <%= @admin_jobs_1_month.count %>
            </td>
            <td>
            </td>
          </tr>

          <tr>
            <th>
              Total Jobs:
            </th>
            <td>
              <%= @total_jobs_1_week.count %>
            </td>
            <td>
              <%= @total_jobs_2_weeks.count %>
            </td>

            <td>
              <%= @total_jobs_1_month.count %>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="c12 calign download">
          <%= link_to '<button>Download all searched jobs(xlsx)</button>'.html_safe , url_for(format: 'xlsx') %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'results' %>
